

.page-header h1{
  font-size:20px;
}

.menu{font-size:20px;
color:black;}

.nav-pills a {
    color: pink;
}
.nav-pills a:hover {
    color: pink;
    border-radius: 0px;

}
.nav-pills .active a:hover {
    color: #560000;
    border-radius: 0px;
}

.container{border: 1px solid black;
}

.row{}

#zone_portrait{
  padding-top:30px;
}
#portrait_clemence{
width:100%;


}

#description_portrait h3{
color:green;

}


.photos{

  padding-top:20px;
}



#footer{position:relative;
        bottom:0;
        width:100%;
        text-align: center;
        font-size:20px;
        word-spacing: 30px;
        }

.panel-footer i{

}



#img-spectacle{  width: 500px;
  			 }





.contenu{




  		}


.titre-contenu{
         margin-top:15px;
        font-size:25px;
        text-align: left;

}
.sous-contenu{
         border-bottom:1px solid grey;
         text-align:center;

}

.header{background-image:url(../images/cle.jpg);}

#barremenu a{color:black;font-size:20px;}

#menu_fixe_droite{

border-left: 1px solid black;
  width:300px;


margin-top:50px;
padding-left:15px;
padding-right:15px;

}

#menu_dates{


}

#menu_dates ul{
  list-style: none;
  text-align:left;

}



#menu_dates h1{
	font-size:20px;
	background-color: black;
	color:white;
  text-align: left;
}

#menu_dates h2{font-size: 15px;}
#menu_dates a{font-size:15px;}

#menu_facebook{
}
#menu_facebook h1{
  font-size:20px;
  background-color: black;
  color:white;
  text-align: left;
}

#formulaire{
  padding-top:3vh;
  width:60vh;
  text-align:center;
}
.img_formulaire{
  text-align:center;
  padding-top: 30px;
}

.img_formulaire img{
  width:100px;
  border-radius:50%;


}

#bloc_commentaires{

}

